{% extends "layout.html" %}
{% block title %}
	Clouds | Home
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Error!</h1>
			<p>An error occured. Please try again later.</p>
			<p><a href="{% url 'homeUrl' %}" class="btn btn-danger btn-lg">Clouds Home</a></p>
		</div>
	</div>
{% endblock %}