{% extends "layout.html" %}
{% block title %}
	Clouds | Files
{% endblock %}
{% block modalwindows %}
<div class="modal fade" id="deletefile" data-keyboard="true" tabindex="-1" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Delete file</h4>
			</div>
			<div class="modal-body">
				<p>Are you sure you want to delete this file?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
				<button type="button" class="btn btn-danger delete-item">Yes, I'm sure!</button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Clouds</h1>
			<p>Keep all your files together on cloud!</p>
			<p><a class="btn btn-danger btn-lg">Get started</a></p>
		</div>
	</div>
	{% if not user.is_authenticated %}
	<div class="container">
		<div class="well">
			<div class="row col-md-12 text-center">
				<h3 style="margin-left:15px;">Lets start. It's simple:</h3>
				<div class="form-group">
					<a href="{% url 'googleLoginUrl' %}" class="btn btn-danger">Sign up with Google+</a>
				</div>
				<div class="form-group">
					<a href="{% url 'facebookLoginUrl' %}" class="btn btn-primary">Sign up with Facebook</a>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="container">
		{% block alerts %}
		<div class="alert alert-success alert-dismissable delete-alert">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			File <strong>deleted</strong> successfully!
		</div>
		{% endblock %}
		<div class="well">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li><a href="/">Cloud Services</a></li>
					<li class="active"><a href="/files">My Files</a></li>
				</ul>
				<div class="tab-content">
					{% load filters %}
					<div class="tab-pane active">
						<ol class="breadcrumb">
							{% for item in breadcrumb %}
								<li><a href="/{{ item }}">{{ item|breadcrumb }}</a></li>
							{% endfor %}
						</ol>
						<div class="table-responsive">
							<table class="table table-hover table-striped">
								<thead>
									<tr>
										<th></th>
										<th>Name</th>
										<th>Location</th>
										<th></th>
									</tr>
								</thead>
								<tbody>
									{% for data in dropbox_metadata.contents %}
									<tr>
										<td><span class="label label-warning">Important</span></td>
										<td><span class="glyphicon glyphicon-{{data.icon}}"> <a href="{% url 'filesUrl' data.path %}">{{ data.path|breadcrumb|slice:":100" }}</a></span></td>
										<td>Dropbox</td>
										<td>
											<div class="btn-group">
												<a href="#deletefile" data-toggle="modal" data-file="{{ data.path }}" class="glyphicon deletebtn glyphicon-trash"></a>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<p class="text-center"><small class="text-muted"><em>{{ dropbox_metadata.contents|length }} items</em></small></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}