{% extends "layout.html" %}
{% block title %}
	Clouds | Home
{% endblock %}
{% block content %}
	<div class="jumbotron">
		<div class="container text-center">
			<h1>Clouds</h1>
			<p>Keep all your files together on cloud!</p>
			<p><a class="btn btn-danger btn-lg">Get started</a></p>
		</div>
	</div>
	{% if not user.is_authenticated %}
	<div class="container">
		<div class="well">
			<div class="row col-md-12 text-center">
				<h3 style="margin-left:15px;">Lets start. It's simple:</h3>
				<div class="form-group">
					<a href="{% url 'googleLoginUrl' %}" class="btn btn-danger">Sign up with Google+</a>
				</div>
				<div class="form-group">
					<a href="{% url 'facebookLoginUrl' %}" class="btn btn-primary">Sign up with Facebook</a>
				</div>
			</div>
		</div>
	</div>
	{% else %}
	<div class="container">
		<div class="well">
			<div class="col-md-12">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#cloud-services">Cloud Services</a></li>
					<li><a href="/files">My Files</a></li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="cloud-services">
						<h3>Add new Cloud Service</h3>
						<div class="row">
							<div class="col-sm6 col-md-2">
								<div class="thumbnail text-center">
									<img src="{{MEDIA_URL}}img/drive.png" width="120" height="120">
									<div class="caption">
										<h4>Google Drive</h4>
										<p><a href="" class="btn btn-danger">Add Access!</a></p>
									</div>
								</div>
							</div>
							<div class="col-sm6 col-md-2">
								<div class="thumbnail text-center">
									<img src="{{MEDIA_URL}}img/skydrive.png" width="120" height="120">
									<div class="caption">
										<h4>SkyDrive</h4>
										<p><a href="" class="btn btn-danger">Add Access!</a></p>
									</div>
								</div>
							</div>
							<div class="col-sm6 col-md-2">
								<div class="thumbnail text-center">
									<img src="{{MEDIA_URL}}img/dropbox.png" width="120" height="120">
									<div class="caption">
										<h4>Dropbox</h4>
										{% if dropbox_user %}
											<p><a href="javascript:void(0);" class="btn btn-danger disabled">Done!</a></p>
										{% else %}
											<p><a href="{% url 'authDropboxUrl' %}" class="btn btn-danger">Add Access!</a></p>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-sm6 col-md-2">
								<div class="thumbnail text-center">
									<img src="{{MEDIA_URL}}img/yandexdisk.jpg" width="120" height="120">
									<div class="caption">
										<h4>YandexDisk</h4>
										<p><a href="" class="btn btn-danger">Add Access!</a></p>
									</div>
								</div>
							</div>
							<div class="col-sm6 col-md-2">
								<div class="thumbnail text-center">
									<img src="{{MEDIA_URL}}img/icloud.png" width="120" height="120">
									<div class="caption">
										<h4>iCloud</h4>
										<p><a href="" class="btn btn-danger">Add Access!</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endblock %}