.navbar-danger {
  background: #d9534f;
  border-color: #d43f3a;
}

.navbar-danger .navbar-brand {
  color: #ffffff;
}

.navbar-danger .navbar-brand:hover,
.navbar-danger .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}

.navbar-danger .navbar-text {
  color: #ffffff;
}

.navbar-danger .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-danger .navbar-nav > li > a:hover,
.navbar-danger .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: transparent;
}

.navbar-danger .navbar-nav > .active > a,
.navbar-danger .navbar-nav > .active > a:hover,
.navbar-danger .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #d43f3a;
}

.navbar-danger .navbar-nav > .disabled > a,
.navbar-danger .navbar-nav > .disabled > a:hover,
.navbar-danger .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}

.navbar-danger .navbar-toggle {
  border-color: #dddddd;
}

.navbar-danger .navbar-toggle:hover,
.navbar-danger .navbar-toggle:focus {
  background-color: #d43f3a;
}

.navbar-danger .navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-danger .navbar-collapse,
.navbar-danger .navbar-form {
  border-color: #e6e6e6;
}

.navbar-danger .navbar-nav > .dropdown > a:hover .caret,
.navbar-danger .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #d43f3a;
  border-bottom-color: #d43f3a;
}

.navbar-danger .navbar-nav > .open > a,
.navbar-danger .navbar-nav > .open > a:hover,
.navbar-danger .navbar-nav > .open > a:focus {
  color: #d43f3a;
  background-color: #d43f3a;
}

.navbar-danger .navbar-nav > .open > a .caret,
.navbar-danger .navbar-nav > .open > a:hover .caret,
.navbar-danger .navbar-nav > .open > a:focus .caret {
  border-top-color: #d43f3a;
  border-bottom-color: #d43f3a;
}

.navbar-danger .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.jumbotron{margin:50px 0 0 0px;}
.footer-danger{
	background: #d9534f;
 	border-color: #d43f3a;
}
.footer-danger p{color:#fff; margin:20px 0 20px 0px;}
.container .well{margin-top:20px; background:#fff;}
.tab-pane .thumbnail{margin-bottom:10px;}

.container .alert{margin-top:20px; display:none;}