<!DOCTYPE html>
<html> 
<head>
	<title>{% block title %}{% endblock %}</title>
<!--Metatags-->
    <link rel="shortcut icon" href="/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Metatags-->
<!--Styles-->
	<link href="{{ MEDIA_URL }}css/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="{{ MEDIA_URL }}css/style.css" rel="stylesheet" type="text/css">
<!--Styles-->

<!--Scripts-->	
	<script src="{{ MEDIA_URL }}js/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{{ MEDIA_URL }}js/script.js" type="text/javascript"></script>
<!--Scripts-->
</head>
<body>
	{% block modalwindows %}
	{% endblock %}
	<div class="modal fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form action="{% url 'signupUrl' %}" method="post">{% csrf_token %}
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Sign up now, it's free!</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						{% for field in user_form %}
						<div class="col-lg-4" style="margin-left:0px;">
							<div class="form-group">
								{{ field }}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Complete!</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</form>
	</div><!-- /.modal -->

	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<form action="{% url 'loginUrl' %}" method="post">{% csrf_token %}
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Login Clouds!</h4>
				</div>
				<div class="modal-body">
					<div class="row">
						{% for field in auth_form %}
						<div class="col-lg-4" style="margin-left:0px;">
							<div class="form-group">
								{{ field }}
							</div>
						</div>
						{% endfor %}
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-danger">Login</button>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
		</form>
	</div><!-- /.modal -->
	<div class="navbar navbar-danger navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Clouds</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Home</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				{% if not user.is_authenticated %}
				<ul class="nav navbar-nav navbar-right">
					<li><a data-toggle="modal" href="#login">Login</a></li>
					<li class="active"><a data-toggle="modal" href="#signup">Sign Up</a></li>
				</ul>
				{% else %}
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="{% url 'logoutUrl' %}">Logout!</a></li>
				</ul>
				{% endif %}
			</div>
		</div>
	</div>
	{% block content %}{% endblock %}
	<div id="footer" class="footer-danger text-center">
      <div class="container">
        <p>Copyright &copy; 2013, Clouds, Inc. All Rights Reserved</p>
      </div>
    </div>
</body>
</html>